@font-face {
  font-family: Board;
  src: url("BoardMarker.ttf");
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

#pantalla-inicio {
  background: url("https://media.istockphoto.com/photos/blank-green-chalkboard-picture-id523740823?b=1&k=20&m=523740823&s=170667a&w=0&h=WVC0j49iVj35F9ACYA4MJevS08XwxXSYWT6Y_NmfLSw=");
  background-size: cover;
  display: flex;
  justify-content: center;
  font-family: Board;
  height: 100vh;
  align-items: center;
}

#body-inicio {
  background-color: white;
  height: 95%;
  width: 90%;
  border-radius: 5px;
  box-shadow: 0px 0px 20px 3px;
}

.btn-lobby {
  color: white;
  background-color: #286538;
  border-radius: 5px;
  font-size: 25px;
  padding: 15px;
  font-family: inherit;
  letter-spacing: 1px;
  border: none;
  box-shadow: 0 0 5px 0px;
  margin: 15px 0;
}

.ingresar-palabra {
  padding: 10px;
  width: 80%;
  height: 60%;
  position: fixed;
  display: flex;
  top: 20%;
  left: 10%;
  background-color: #276439;
  opacity: 0;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 25px;
  z-index: -1;
  transition-duration: 200ms;
  border-radius: 5px;
  box-shadow: 3px 3px 2px 0px lightgrey;
}

.ingresar-palabra p {
  text-align: center;
  margin: 0;
  padding: 0;
  text-shadow: white 0px 0px 5px;
  font-size: 40px;
}

#input-agregar-palabra {
  font-family: inherit;
  font-size: 45px;
  text-align: center;
  width: 75%;
  height: 65px;
}

.reglas {
  font-family: monospace;
  font-size: 20px;
  color: white;
  margin: 3% 0px;
  list-style-type: "➡";
  text-align: center;
  text-indent: 5%;
}

.reglas li {
  margin: 10px 0px;
  transition-duration: 300ms;
}

.no-cumple {
  color: #f37979;
  font-weight: bold;
}

#comenzar-con-palabra {
  color: white;
  background-color: #2d653e;
  border: none;
  padding: 10px;
  font-family: inherit;
  box-shadow: 0px 0px 4px 2px;
  letter-spacing: 1px;
  transition-duration: 500ms;
}

#comenzar-con-palabra[disabled] {
  background-color: #838383;
  color: #666666;
  cursor: not-allowed;
}

#pantalla-juego {
  background: url("https://media.istockphoto.com/photos/blank-green-chalkboard-picture-id523740823?b=1&k=20&m=523740823&s=170667a&w=0&h=WVC0j49iVj35F9ACYA4MJevS08XwxXSYWT6Y_NmfLSw=");
  background-size: cover;
  display: flex;
  justify-content: center;
  font-family: Board;
  height: 100vh;
  align-items: center;
}

#body-juego {
  height: 95%;
  width: 90%;
  margin: 0;
  padding: 0;
  border-radius: 5px;
  box-shadow: 0px 0px 20px 3px;
  transition-duration: 500ms;
  position: relative;
}

header {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  height: 5%;
}

header div {
  margin: 0 8px;
}

#logo {
  height: 45px;
  width: 45px;
}
#title-header {
  color: #23512f;
  margin: 0;
  font-size: 35px;
  letter-spacing: 4px;
}

#container-juego {
  background-color: white;
  height: 100%;
  margin: 0;
}

#container-inicio {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 95%;
}

main {
  height: 95%;
}

.section-horca {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#mensaje-final {
  width: 90%;
  height: 0;
  border: solid 2px;
  border-radius: 10px;
  position: absolute;
  top: 25%;
  right: 5%;
  margin: auto;
  opacity: 0;
  transition-duration: 500ms;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
#resultado {
  padding: 10px;
}

#finalizacion {
  font-family: monospace;
  font-size: 20px;
}

#volver-a-jugar {
  margin: 0 5%;
  background-color: #c3c3c3;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px;
  font-family: inherit;
  letter-spacing: 1px;
  box-shadow: 0 0 5px 0px inherit;
  border: none;
  box-shadow: 0 0 5px 0px;
}

.section-letras-y-guiones {
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 35px;
  box-shadow: 0px 0px 12px -2px #286238;
}

#rendirse {
  font-size: 10px;
  padding: 3px 30px;
  color: white;
  background-color: #286538;
  border-radius: 5px;
  font-family: inherit;
  letter-spacing: 1px;
  border: none;
  box-shadow: 0 0 5px 0px;
}
.section-teclado {
  height: 35%;
}

.fila-teclado {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 33%;
}

.tecla {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid black 1px;
  padding: 8px;
  margin: 10px;
  box-shadow: 1px 1px 2px 1px #23512f;
  height: 65px;
  width: 55px;
  font-size: 20px;
}

.letra-elegida {
  background-color: red;
  transition-duration: 100ms;
}

.letra-o-guion {
  border-bottom: solid #23512f 3px;
  text-align: center;
  display: inline-block;
  vertical-align: bottom;
  margin: 5px;
  width: 30px;
  min-height: 50px;
}

.fallo {
  background-color: lightcoral;
}

.acierto {
  background-color: mediumaquamarine;
}

@media only screen and (max-width: 600px) {
  .tecla {
    margin: 5px;
    height: 35px;
    width: 30px;
    font-size: 12px;
  }

  .ingresar-palabra p {
    font-size: 25px;
  }

  #input-agregar-palabra {
    font-size: 20px;
    width: 75%;
    height: 40px;
  }

  .reglas {
    font-size: 15px;
  }
}
